{% extends 'index/base.html' %}
{% load markdown_extras %}
{% load static %}
{% block title %} Search {% endblock %}
{% block add_link %}<link rel="stylesheet" href="{% static 'css/feed_page.css' %}">{% endblock %}


{% block body %}

{% for msg in messages %}
    {{msg}}
{% endfor %}

<div class="container">
    <a href="{% url 'index:popular' %}">Most popular posts of the week</a>
    <div>
        Search by tags
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Select a tag
            </button>
            <ul class="dropdown-menu">
                {% for tag in tags %}
                        <li><a class="dropdown-item" href="{% url 'index:discover_tags' tag.tag_name %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}