{% extends 'index/base.html' %}
{% load markdown_extras %}
{% load static %}
{% block title %} Index {% endblock %}
{% block add_link %}<link rel="stylesheet" href="{% static 'css/feed_page.css' %}">{% endblock %}


{% block body %}

<style>
  .post:hover h2 {
    text-decoration: underline !important;
  }
</style>
{% for msg in messages %}
  <p class="alert alert-danger w-100 text-center">{{ msg }}</p>
{% endfor %}

<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="row px-5">
  <div class="leftcolumn">
    {% for post in posts %}
          <a href="{% url 'index:post_details' post.id %}" style="text-decoration:none; color:black !important;" class="post">
            <div class="card">
                <h2 class="pb-0 mb-0">{{ post.title }}</h2>
                <small class="text-muted mb-1">by {{post.author}}-{{ post.created_at }}</small>
                <div><img height="200px" src="{{ post.thumbnail }}" alt="thumbnail unavailable"></div>
                <p>{{ post.content| markdown | safe | truncatewords:20}}</p>
            </div>
          </a>
    {% endfor %}
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <a href="{% url 'index:user_profile' %}">My profile</a>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

{% endblock %}