{% extends 'index/base.html' %}
{% load markdown_extras %}
{% load static %}
{% block title %} Index {% endblock %}
{% block add_link %}
<link rel="stylesheet" href="{% static 'css/feed_page.css' %}">{% endblock %}


{% block body %}

<style>
  .post:hover h2 {
    text-decoration: underline !important;
  }
</style>
{% for msg in messages %}
<p class="alert alert-danger w-100 text-center">{{ msg }}</p>
{% endfor %}

<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="row px-5">
  <div class="leftcolumn">
    <div class="d-flex justify-content-between align-items-end">
      <a class="btn btn-primary mt-2" href="{% url 'index:new_post' %}">Write a new post <i
          class="fas fa-feather-alt"></i></a>
      <form class="d-flex flex-column mt-3" method="GET" action="{% url 'index:search_form' %}">
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" name="query" aria-label="Search" required>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        <div id="passwordHelpBlock" class="form-text">
          You can search for anything (names, posts titles, content)
        </div>
      </form>
    </div>
    
    <div class="infinite-container">
      {% for post in posts %}
      <div class="infinite-item">
        <a href="{% if post.shared %}{% url 'index:post_details' post.shared_post_id %}{% else %}{% url 'index:post_details' post.id %}{% endif %}"
          style="text-decoration:none; color:black !important;" class="post">
          <div class="card">
            {% if post.shared %}
            <p class="badge bg-secondary" style="width:75px;">Shared</p>
            {% endif %}
            <h2 class="pb-0 mb-0">{{ post.title }}</h2>
            <div class="text-muted mb-1" style="font-size: 15px"><span class="text-muted">by</span> <a
                href="{% url 'index:user_profile' post.author %}">{{post.author}}</a>-{{ post.created_at }}
              {% if post.shared %}
              (Shared by: <a href="{% url 'index:user_profile' post.shared_by %}">{{ post.shared_by }}</a>)
              {% endif %}
            </div>
            <div><img height="200px" src="{{ post.thumbnail }}" alt="thumbnail unavailable"></div>
            <p>{{ post.content| markdown | safe | truncatewords:20}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <a href="{% url 'index:user_profile' request.user%}">My profile</a>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
    <h3><a href="{% url 'index:popular' %}">Popular posts</a></h3>
      {% for post in popular_posts %}
      {% if post.views_for_algo > 1 and post.views >= expected_views %}
      <a href="{% if post.shared %}{% url 'index:post_details' post.shared_post_id %}{% else %}{% url 'index:post_details' post.id %}{% endif %}"
        style="text-decoration:none; color:black !important;" class="post">
        <div class="card">
          {% if post.shared %}
          <p class="badge bg-secondary" style="width:75px;">Shared</p>
          {% endif %}
          <h2 class="pb-0 mb-0">{{ post.title }}</h2>
          <div class="text-muted mb-1" style="font-size: 15px"><span class="text-muted">by</span> <a
              href="{% url 'index:user_profile' post.author %}">{{post.author}}</a>-{{ post.created_at }}
            {% if post.shared %}
            (Shared by: <a href="{% url 'index:user_profile' post.shared_by %}">{{ post.shared_by }}</a>)
            {% endif %}
          </div>
          <div><img height="200px" src="{{ post.thumbnail }}" alt="thumbnail unavailable"></div>
          <p>{{ post.content| markdown | safe | truncatewords:20}}</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

 <!-- <div class="infinite-container">
  {% for post in posts %}
    <div class="infinite-item">{{ post }}</div> <br><br>
  {% endfor %}
</div> -->


{% if posts.has_next %}
<a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
{% endif %}


<div class="loading" style="display: none; position: fixed;left:45%; top:40%;; z-index: 999;">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div> 

<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>

{% endblock %}